body {
 	margin: 0 ;
 	overflow-x: hidden;
 	max-width: 1500px;
}

meta {
	display: none;
}

a {
	color: #595959;
	text-decoration: none;
}

/*COLORS
dark grey: #393939;
595959
797979
*/

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
	margin: 0 auto;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.dropdown {
	display: none;
	position: absolute;
	left: 1.5%;
	top: 100px;
	min-width: 100px;
	transition: 0s 180s;
	z-index: 100000;
	position: fixed;
	background-color: white;
	height: 200px;
}

.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: .05em;
	text-align: center;
	padding: 5px;
}

.container:hover .dropdown {
	display: block;
}

.dropdown a:hover {
	color: #c9c9c9;
}

.top-container {
     max-width: 100%;
     display: block;
     padding-top: 10%;
     height: 100vh;
     position: relative;
     overflow-x: hidden;
}

.name {
	position: absolute;
	right: 15%;
	top: 30%;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
	font-size: 38px;
	margin: 0;
	color: #000000;
	letter-spacing: .08em;
	font-weight: 700;
	z-index: 2;
	text-align: right;
}

.top-container h4 {
	position: absolute;
	right: 15%;
	top: 42%;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	margin: 0;
	color: #999999;
	overflow-x: hidden;
	letter-spacing: .05em;
	text-align: right;
	font-weight: 400;
	z-index: 2;
}

.grey {
	width: 57%;
	position: absolute;
	height: 400px;
	left: 25%;
	top: 18%;
	background-color: #f3f1ee;
	z-index: -100;
	position: absolute;
}

.gif {
	position: absolute;
	width: 45%;
	height: auto;
	left: 18%;
	top: 10%;
	z-index: 1;
	box-shadow: 10px 10px 5px #ffffff;
	/*border: solid;
	border-color: #ffffff;
	border-width: 10px;*/
}

.buttons {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	margin-left: 34%;
	top: 60%;
	overflow-x: hidden;
}

.box {
	width: 10%;
	padding: 15px;
	display: inline-block;
	border: solid;
	border-color: #595959;
	border-width: 2px;
	margin-right: 70px;
	cursor: pointer;
}

.box p {
	font-family: 'lato', sans-serif;
	color: #595959;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

.box:hover {
	border-color: #c9c9c9;
}

.design, .process, .art, .about {
	max-width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 5%;
}
.about {
	margin-top: 10%;
	padding-bottom: 0;
}

.row, .row2 {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.d {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	padding: 5% 5% 0 5%;
	vertical-align: top;
}

.design h1, .art h1 {
	text-align: left;
	font-family: 'lato', sans-serif;
	font-size: 30px;
	margin: 0;
	margin-left: 13%;
	color: #000000;
	letter-spacing: .15em;
	font-weight: 900;
}
.process h1, .about h1 {
	text-align: right;
	font-family: 'lato', sans-serif;
	font-size: 30px;
	margin: 0;
	margin-right: 13%;
	color: #000000;
	letter-spacing: .15em;
	font-weight: 900;
	margin-top: 2%;
}
.art h1{
	padding-top: 10%;
}
.design h1 {
	margin-top: 2%;
}

.design h5 {
	font-family: 'lato', sans-serif;
	font-size: 12pt;
	margin: 0;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;

}

.a {
	width: 100%;
}

.medium {
	width: 30%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	padding: 30px 0px 0px 45px;
}

.one {
	width: 40%;
}

.two {
	width: 17%;
}

.three {
	width: 26%;
}

.ux, .division, .hoot, .sg, .paint, .ill, .photo {
	position: relative;
	width: 100%;
	margin: 0 auto;
	box-shadow: 10px 10px 5px #f3f1ee;
}

.photo, .paint {
	border: none;
}

.ux {
	height: 260px;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
}

.overlay1 {
	background-color: #6683F4;
}
.overlay2 {
	background-color: #5C76DA;
}
.overlay3 {
	background-color: #4C61B4;
}
.overlay4 {
	background-color: #313F74;
}
.overlay5 {
	background-color: #161C35;
}

.ux:hover .overlay1{
	opacity: 1;
}
.division:hover .overlay2{
	opacity: 1;
}
.hoot:hover .overlay2{
	opacity: 1;
}
.sg:hover .overlay3{
	opacity: 1;
}
.photo:hover .overlay3{
	opacity: 1;
}
.ill:hover .overlay4{
	opacity: 1;
}
.paint:hover .overlay5{
	opacity: 1;
}


.project, .lower_title, .lower_title0, .lower_title1 {
	color: white;
	font-size: 12px;
	font-family: 'lato', sans-serif;
	letter-spacing: .15em;
	text-align: center;
	padding-top: 25%;
}

.lower_title {
	padding-top: 47%;
}

.lower_title0 {
	padding-top: 70%;
}

.lower_title1 {
	padding-top: 30%;
}

.process {
	height: 45vh;
	padding-top: 8%;
}

.pro {
	width: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0 40px 300px;
	font-family: 'Work Sans', sans-serif;
	color: #797979;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	letter-spacing: .03em;
}

.info, .image_wrapper {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	vertical-align: top;
}

.info {
	position: relative;
	height: 450px;

}

.grey2 {
	z-index: 0;
	background-color: #f3f1ee;
	width: 83%;
	height: 340px;
	/*margin-bottom: 100px;*/
	position: absolute;
	left: 10%;
	top: 12%;
}

.border {
	border-style: solid;
	padding: 30px;
	border-color: #797979;
	width: 70%;
	position: absolute;
	left: 7%;
	top: 7%;
	z-index: 1;
	border-width: 3px;
}
.bio-text {
	font-family: 'Work Sans', sans-serif;
	color: #595959;
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	line-height: 1.5;
	letter-spacing: .02em;
	z-index: 101;
}

.bold-text {
	font-family: 'lato', sans-serif;
	font-weight: 700;
}

.self {
	width: 70%;
	display: block;
	margin: 0 auto;
	padding-top: 5%;
	padding-left: 10%;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #595959;
}

.social_media {
	width: 65%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.social_media img {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.social_media a {
	text-decoration: none;
}


/***************************

      MEDIA QUERYS 
      
****************************/
@media screen and (max-width: 1280px) {
	.name {
		left: 13%;
		top: 33%;
	}

	.top-container h4 {
		display: block;
		left: 0;
		right: 0;
		margin: 0;
		text-align: center;
		top: 51%;
	}
	.gif {
		right: 22%;
		top: 13%;
	}	


	.container4 {
		top: 30%;
		/*left: 36%;
		width: 27%;*/
	}

	.container5 {
		bottom: 30%;
		/*right: 8%;
		width: 25%;*/
	}

}
/*@media screen and (max-width: 1150px) {
	.container4 {
		top: 25%;
		/*left: 36%;
		width: 27%;*/
	}

	.container5 {
		bottom: 35%;
		/*right: 8%;
		width: 25%;*/
	}
}

@media screen and (max-width: 1100px) {
	.top-container h4 {
		font-size: 34px;
	}
	.name {
		top: 33%;
	}

	.container5 {
		bottom: 40%;
	}

	.row2 {
		width: 100%;
		margin: 0 auto;
		height: 150vh;	
	    display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}

	.info, .image_wrapper {
		display: block;
		width: 70%;
		margin: 0 auto;
		height: 70vh;
	}

	.social_media {
		padding-left: 10%;
	}
	
	.grey2 {
		width: 80%;
		height: 390px;
		left: 13%;
		top: 15%;
		margin: 0;
	}

	.border {
		display: block;
		left:0;
		right: 0;
		margin: 0 auto;
		top: 10%;
	}	
	
	.images {
		width: 100%;
		margin: 0 auto;
		vertical-align: top;
		display: block;
	}
	.photo {
		left: 0;
		right: 0;
		margin: 0 auto;
		padding-top: 0%;
	}
	.about h1 {
		margin-bottom: 0; 
	}
}

@media screen and (max-width: 1080px) {
	.top-container h4 {
		top: 52%;
	}
	.name {
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 37%;
	}
	.gif{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.border {
		padding: 30px;
	}
}
@media screen and (max-width: 1000px) {
	.buttons {
		margin-left: 33%;
		top: 60%;
	}
	.container5 {
		bottom: 45%;
	}

}
@media screen and (max-width: 900px) {
	
	.name {
		width: 30%;
		top: 35%;
	}
	.top-container h4 {
		font-size: 30px;
		top: 50%;
	}
	.container4 {
		top: 20%;
	}

	.container5 {
		bottom: 50%;
	}

	.photo {
		top: 23%;
	}
	.image_wrapper {
		height: auto;
	}

	.row2 {
		height: auto;
		margin-top: 5%;
	}
	.box {
		width: 20%;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	.buttons {
		display: block;
		margin: 0 auto;
		top: 57%;
	}

}
@media screen and (max-width: 800px) {
	
	.name {
		top: 37%;
	}
	.gif {
		width: 45%;
	}
	.bio-text{
		font-size: 12px;
	}
	.row{
		display: none;
	}
	.row_mobile {
		display: block
	}
	.about {
		margin-top: 5%;
	}

}
@media screen and (max-width: 700px) {
	.social_media{
		padding-left: 0;
	}
	.top-container h4 {
		font-size: 24px;
	}
}
@media screen and (max-width: 660px) {
	.name {
		width: 45%;
		top: 33%;
	}
	.social_media img{
		width: 25px;
		height: 25px;
		margin-left: 10%;
	}
	.border {
		width: 80%;
		padding: 20px;
		border-width: 2px;
	}
	.grey2 {
		height: 350px;
	}
}
@media screen and (max-width: 500px) {
	.gif {
		width: 50%;
		top: 20%;
	}
	.name {
		top: 40%;
	}
	.top-container h4 {
		top: 55%;
		font-size: 22px;
	}
	.buttons {
		top: 63%;
	}
	.grey2 {
		height: 370px;
		left: 7%;
		top: 14%;
	}
	.bio-text {
		font-size: 11px;
	}
	.logo, .logo_i {
		width: 40px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
}
@media screen and (max-width: 430px) {
	.name {
		width: 60%;
		top: 35%;
	}
	.border {
		padding: 15px;
	}

	.top-container h4 {
		top: 50%;
		width: 80%;
		margin: 0 auto;
	}
	.buttons {
		top: 60%;
	}
	.box {
		width: 30%;
	}
	.portfolio {
		margin-top: 20%;
	}
	.social_media img{
		width: 20px;
		height: 20px;
		margin-left: 10%;
	}
	.portfolio h1, .about h1 {
		font-size: 30px;
	}
	.about {
		margin-top: 5%;
	}

}

@media screen and (max-width: 390px) {
	.border {
		width: 85%;
	}
	.grey2 {
		height: 350px;
		width: 100%;
	}

}


@media screen and (max-width: 320px) {
	.social_media img{
		width: 15px;
		height: 15px;
		margin-left: 10%;
	}
	.border {
		width: 100%;
	}
	.bio-text{
		font-size: 10px;
	}
}*/
